<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBox</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/client.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <style>
    
    
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <div class="toggle-sidebar" type="menu" onclick="openx()">☰</div>

        <div class="sidebar" id="sidebar">
            <button id="closeButton" type="menu" onclick="closex()">X</button>
            <h3>Settings</h3>

            <label>
                <input type="checkbox" id="soundNotification"> Sound Notification
            </label>
            <label>
                <input type="checkbox" id="screenNotification"> Screen Notification
            </label>
            <label>
                <input type="checkbox" id="joinLeaveNotification"> Join/Leave Notification
            </label>

        </div>
        <div class="designed-by">
            <p>Designed and Developed by <span>Papaya Coders</span></p>
        </div>

        <div  class="mx-auto">
            <div class="name">
                <ul>
                    <li>  <h4>Welcome,</h4></li>
    
                    <li><h4 id="user"></h4></li>
    
                    <li><h5 id="roomId"></h5></li>
                </ul>
               
            </div>
        </div>
        </div>
      </nav>
    
 <!-- Sidebar -->

<!-- <hr class="mb-3"> -->

    <div class="container "></div>

        
        <!-- <div class="row menubar m-3 ">
          
        </div> -->
        <div class="row">
            <div class="chatbox">
                <!-- Chat messages will appear here -->
            </div>
            <div class="send">
                <form action="#" id="send-container">
                    <textarea name="messageInp" id="messageInp" placeholder="Type a message..."></textarea>
                    <button type="submit" class="btn">Send</button>
                </form>
            </div>
            
        </div>
    </div>


    <!-- <div class="footer">
        <p>Designed and Developed by <span>Papaya Coders</span></p>
    </div> -->
    

    <script>
         function closex(){
            // alert('hello')
            document.getElementById('sidebar').style.display='none';
        }
        function openx(){
            document.getElementById('sidebar').style.display='block';

        }
        // JavaScript to toggle the sidebar
        const sidebar = document.querySelector('.sidebar');
        const toggleSidebar = document.querySelector('.toggle-sidebar');

        toggleSidebar.addEventListener('click', () => {
            sidebar.classList.toggle('active');
        });


        // Event listener for online user invite button
        // document.querySelectorAll('.invite-button').forEach(button => {
        //     button.addEventListener('click', (event) => {
        //         const username = event.target.previousElementSibling.textContent;
        //         alert('Invite sent to ' + username);
        //     });
        // });

        // Event listeners for notification checkboxes
        
        
        // document.getElementById('soundNotification').addEventListener('change', function() {
        //     if (this.checked) {
        //         alert('Sound notifications enabled.');
        //     } else {
        //         alert('Sound notifications disabled.');
        //     }
        // });

        // document.getElementById('screenNotification').addEventListener('change', function() {
        //     if (this.checked) {
        //         alert('Screen notifications enabled.');
        //     } else {
        //         alert('Screen notifications disabled.');
        //     }
        // });

        // document.getElementById('joinLeaveNotification').addEventListener('change', function() {
        //     if (this.checked) {
        //         alert('Join/Leave notifications enabled.');
        //     } else {
        //         alert('Join/Leave notifications disabled.');
        //     }
        // });
   
   </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
</body>

</html>
