body {
    background: #20201d;
    color: #a6a28c;
    height: 95vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    overflow-y: scroll; /* Enable scrolling */
    padding: 50px;
    width: 40%;
    max-width: 100%;
    /* margin: auto; Center the container */
}

.container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Safari and Chrome */
}

.container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

li{
    margin-left: 5px;
    margin-right: 5px;
}
ul{
    /* align-items: center; */
    list-style: none; display: flex; justify-content: center;
}
h4, h5 {
    /* margin-top: 12px; */
    font-size: 18px;
    font-family: "Gill Sans Extrabold", sans-serif;
    /* text-align: center; */
    color: rgb(255, 255, 255);
    /* display: flex; */
   
}

nav{
    align-items: center;
}

h3, h3 {
    font-size: calc(1.3rem + .6vw);
    padding-left: 30px;
}

.name {
    text-align: center;
    width: auto;
    font-family: "Gill Sans Extrabold", sans-serif;
    /* gap: 6px; */
   
}
.menubar{
    background-color: #20201d;
    height: 8vh;
    /* position: fixed; */
    /* display: flex;
    justify-content: space-between; */
}
.chat-box {
    background: #20201d;
    color: #a6a28c;
    height: 60vh;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 23px;
    border-radius: 13px;
    flex-grow: 0
}


.message {
    background: #20201d;
    color: #a6a28c;
    padding: 5px;
    margin: 2px;
    border-radius: 20px 10px 20px 10px;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    max-width: 100%;
    word-wrap: break-word;
}


.left {
    float: left;
    clear: both;
    max-width: 280px;
    text-wrap: wrap;
    word-wrap: break-word;
}

.right {
    float: right;
    clear: both;
    max-width: 280px;
    text-wrap: wrap;
    word-wrap: break-word;
}

.send {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #000; */
    background: #20201d;
    color: #a6a28c;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(255, 255, 255);
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

/* .btn {
    cursor : pointer;
    height: 34px;
    width: auto;
    padding: 0 15px;
    margin: 0 5px;
    background: white;
    border: none;
    border-radius: 5px;
} */




#roomId {
    color: rgb(216, 132, 37);
}

#send-container {
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(125, 122, 104, 0.5) !important;
    border-top: 1px solid;
}


/* Sidebar styling */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding: 20px;
    display: none;
    /* Hidden by default */
    flex-direction: column;
    color: white;
    z-index: 1000;
}

.sidebar.active {
    display: flex;
  
}

.sidebar h3 {
    color: white;
    margin-bottom: 20px;
}

.sidebar label {
    margin-bottom: 10px;
    display: block;
}

.toggle-sidebar {
    /* position: fixed; */
    /* display: block; */
    margin-left: 20px;
    left: 10px;
    top: 10px;
    /* z-index: 1001; */
    cursor: pointer;
    /* font-size: 24px; */
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
}



#messageInp, textarea {
    width: 100%;
    font-size: 22px;
    background: none;
    border: none;
    outline: none;
    resize: none;
    padding: 5px;
    color: rgb(182, 176, 176);
}

#messageInp {
    overflow: auto;
    /* Allows scrolling */
    scrollbar-width: none;
    /* For Firefox */
}

#messageInp::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar */
}

.chatbox{
    margin-top: 50px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .chatbox{
        margin-top: 18px;
    }
    .menubar{
        background-color: #20201d;
        /* position: fixed; */
        height: 15vh;
    }
    .left, .right {
        max-width: 70%; /* Adjust the max width for smaller devices */
        padding-top: 35px;
    }

    #messageInp {
        font-size: 18px;
    }

    .sidebar {
        width: 200px;
    }
}



@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 0 10px; /* Add some padding on small screens */
    }

    .left, .right {
        max-width: 70%; /* Full width on very small devices */
        padding-top: 35px;
    }

    #messageInp {
        width: 100%;
        font-size: 16px;
    }

    .send {
        flex-direction: column; /* Stack input and send button */
        align-items: flex-start; /* Align input to start */
    }

    .sidebar {
        width: 180px;
    }
    h1 {
        font-size: 20px;
    }
    #send-container{
        width: 100%;
    }
}




ul {
    padding: 0 !important;
    margin: 0 !important;
    justify-content: center !important;
}